#gallery {
    width: 100%;
}

figure {
    width: 33%;
}

@media (max-width:992px) {
    figure {
        width: 49%;
    }
}

@media (max-width:768px) {
    figure {
        width: 49%;
    }
}


@media (max-width:480px) {
    figure {
        width: 100%;
    }
}
